<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SteamProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EsempioCheckbox</display-name>
    <servlet-name>EsempioCheckbox</servlet-name>
    <servlet-class>org.elis.controller.EsempioCheckbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EsempioCheckbox</servlet-name>
    <url-pattern>/EsempioCheckbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerHomePage</display-name>
    <servlet-name>ServletPerHomePage</servlet-name>
    <servlet-class>org.elis.controller.ServletPerHomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerHomePage</servlet-name>
    <url-pattern>/ServletPerHomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogicaLoginServlet</display-name>
    <servlet-name>LogicaLoginServlet</servlet-name>
    <servlet-class>org.elis.controller.LogicaLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicaLoginServlet</servlet-name>
    <url-pattern>/LogicaLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogicaRegistrazioneServlet</display-name>
    <servlet-name>LogicaRegistrazioneServlet</servlet-name>
    <servlet-class>org.elis.controller.LogicaRegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicaRegistrazioneServlet</servlet-name>
    <url-pattern>/LogicaRegistrazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerPaginaLogin</display-name>
    <servlet-name>ServletPerPaginaLogin</servlet-name>
    <servlet-class>org.elis.controller.ServletPerPaginaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerPaginaLogin</servlet-name>
    <url-pattern>/ServletPerPaginaLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletPerPaginaRegistrazione</display-name>
    <servlet-name>ServletPerPaginaRegistrazione</servlet-name>
    <servlet-class>org.elis.controller.ServletPerPaginaRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerPaginaRegistrazione</servlet-name>
    <url-pattern>/ServletPerPaginaRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerPaginaErrore</display-name>
    <servlet-name>ServletPerPaginaErrore</servlet-name>
    <servlet-class>org.elis.controller.ServletPerPaginaErrore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerPaginaErrore</servlet-name>
    <url-pattern>/ServletPerPaginaErrore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerPaginaGioco</display-name>
    <servlet-name>ServletPerPaginaGioco</servlet-name>
    <servlet-class>org.elis.controller.ServletPerPaginaGioco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerPaginaGioco</servlet-name>
    <url-pattern>/ServletPerPaginaGioco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogicaPaginaGioco</display-name>
    <servlet-name>LogicaPaginaGioco</servlet-name>
    <servlet-class>org.elis.controller.LogicaPaginaGioco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicaPaginaGioco</servlet-name>
    <url-pattern>/LogicaPaginaGioco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogicaPaginaGenere</display-name>
    <servlet-name>LogicaPaginaGenere</servlet-name>
    <servlet-class>org.elis.controller.LogicaPaginaGenere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicaPaginaGenere</servlet-name>
    <url-pattern>/LogicaPaginaGenere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletImpostazioniAdmin</display-name>
    <servlet-name>ServletImpostazioniAdmin</servlet-name>
    <servlet-class>org.elis.controller.ServletImpostazioniAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletImpostazioniAdmin</servlet-name>
    <url-pattern>/ServletImpostazioniAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaGiocoServlet</display-name>
    <servlet-name>EliminaGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.EliminaGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaGiocoServlet</servlet-name>
    <url-pattern>/EliminaGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiGiocoServlet</display-name>
    <servlet-name>AggiungiGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiungiGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiGiocoServlet</servlet-name>
    <url-pattern>/AggiungiGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaNomeGiocoServlet</display-name>
    <servlet-name>AggiornaNomeGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaNomeGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaNomeGiocoServlet</servlet-name>
    <url-pattern>/AggiornaNomeGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaDataGiocoServlet</display-name>
    <servlet-name>AggiornaDataGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaDataGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaDataGiocoServlet</servlet-name>
    <url-pattern>/AggiornaDataGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaDescrizioneGiocoServlet</display-name>
    <servlet-name>AggiornaDescrizioneGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaDescrizioneGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaDescrizioneGiocoServlet</servlet-name>
    <url-pattern>/AggiornaDescrizioneGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaImmagineGiocoServlet</display-name>
    <servlet-name>AggiornaImmagineGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaImmagineGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaImmagineGiocoServlet</servlet-name>
    <url-pattern>/AggiornaImmagineGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaUsernameServlet</display-name>
    <servlet-name>AggiornaUsernameServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaUsernameServlet</servlet-name>
    <url-pattern>/AggiornaUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaEmailServlet</display-name>
    <servlet-name>AggiornaEmailServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaEmailServlet</servlet-name>
    <url-pattern>/AggiornaEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaPasswordServlet</display-name>
    <servlet-name>AggiornaPasswordServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaPasswordServlet</servlet-name>
    <url-pattern>/AggiornaPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteByUsername</display-name>
    <servlet-name>UtenteByUsername</servlet-name>
    <servlet-class>org.elis.controller.UtenteByUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteByUsername</servlet-name>
    <url-pattern>/UtenteByUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaUtente</display-name>
    <servlet-name>EliminaUtente</servlet-name>
    <servlet-class>org.elis.controller.EliminaUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaUtente</servlet-name>
    <url-pattern>/EliminaUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiOfferta</display-name>
    <servlet-name>AggiungiOfferta</servlet-name>
    <servlet-class>org.elis.controller.AggiungiOfferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiOfferta</servlet-name>
    <url-pattern>/AggiungiOfferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaOffertaServlet</display-name>
    <servlet-name>EliminaOffertaServlet</servlet-name>
    <servlet-class>org.elis.controller.EliminaOffertaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaOffertaServlet</servlet-name>
    <url-pattern>/EliminaOffertaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaNomeOffertaServlet</display-name>
    <servlet-name>AggiornaNomeOffertaServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaNomeOffertaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaNomeOffertaServlet</servlet-name>
    <url-pattern>/AggiornaNomeOffertaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaScontoOffertaServlet</display-name>
    <servlet-name>AggiornaScontoOffertaServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaScontoOffertaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaScontoOffertaServlet</servlet-name>
    <url-pattern>/AggiornaScontoOffertaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaDataScontoOffertaServlet</display-name>
    <servlet-name>AggiornaDataScontoOffertaServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaDataScontoOffertaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaDataScontoOffertaServlet</servlet-name>
    <url-pattern>/AggiornaDataScontoOffertaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerPaginaImpostazioni</display-name>
    <servlet-name>ServletPerPaginaImpostazioni</servlet-name>
    <servlet-class>org.elis.controller.ServletPerPaginaImpostazioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerPaginaImpostazioni</servlet-name>
    <url-pattern>/ServletPerPaginaImpostazioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaUtenteById</display-name>
    <servlet-name>EliminaUtenteById</servlet-name>
    <servlet-class>org.elis.controller.EliminaUtenteById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaUtenteById</servlet-name>
    <url-pattern>/EliminaUtenteById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaUtenteByUsername</display-name>
    <servlet-name>EliminaUtenteByUsername</servlet-name>
    <servlet-class>org.elis.controller.EliminaUtenteByUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaUtenteByUsername</servlet-name>
    <url-pattern>/EliminaUtenteByUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiRecensione</display-name>
    <servlet-name>AggiungiRecensione</servlet-name>
    <servlet-class>org.elis.controller.AggiungiRecensione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiRecensione</servlet-name>
    <url-pattern>/AggiungiRecensione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaVoto</display-name>
    <servlet-name>AggiornaVoto</servlet-name>
    <servlet-class>org.elis.controller.AggiornaVoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaVoto</servlet-name>
    <url-pattern>/AggiornaVoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaTestoRecensione</display-name>
    <servlet-name>AggiornaTestoRecensione</servlet-name>
    <servlet-class>org.elis.controller.AggiornaTestoRecensione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaTestoRecensione</servlet-name>
    <url-pattern>/AggiornaTestoRecensione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaRecensioneById</display-name>
    <servlet-name>EliminaRecensioneById</servlet-name>
    <servlet-class>org.elis.controller.EliminaRecensioneById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaRecensioneById</servlet-name>
    <url-pattern>/EliminaRecensioneById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaGiocoServlet</display-name>
    <servlet-name>AggiornaGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaGiocoServlet</servlet-name>
    <url-pattern>/AggiornaGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaUtenteServlet</display-name>
    <servlet-name>AggiornaUtenteServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaUtenteServlet</servlet-name>
    <url-pattern>/AggiornaUtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaRecensione</display-name>
    <servlet-name>AggiornaRecensione</servlet-name>
    <servlet-class>org.elis.controller.AggiornaRecensione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaRecensione</servlet-name>
    <url-pattern>/AggiornaRecensione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogicaLogoutServlet</display-name>
    <servlet-name>LogicaLogoutServlet</servlet-name>
    <servlet-class>org.elis.controller.LogicaLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogicaLogoutServlet</servlet-name>
    <url-pattern>/LogicaLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaOffertaServlet</display-name>
    <servlet-name>AggiornaOffertaServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaOffertaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaOffertaServlet</servlet-name>
    <url-pattern>/AggiornaOffertaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaLibreriaServlet</display-name>
    <servlet-name>AggiornaLibreriaServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaLibreriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaLibreriaServlet</servlet-name>
    <url-pattern>/AggiornaLibreriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiornaGenereServlet</display-name>
    <servlet-name>AggiornaGenereServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiornaGenereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaGenereServlet</servlet-name>
    <url-pattern>/AggiornaGenereServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>EliminaGenere</display-name>
    <servlet-name>EliminaGenere</servlet-name>
    <servlet-class>org.elis.controller.EliminaGenere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaGenere</servlet-name>
    <url-pattern>/EliminaGenere</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ciao</display-name>
    <servlet-name>ciao</servlet-name>
    <servlet-class>org.elis.controller.ciao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ciao</servlet-name>
    <url-pattern>/ciao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginaGiocoServlet</display-name>
    <servlet-name>PaginaGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.PaginaGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaGiocoServlet</servlet-name>
    <url-pattern>/PaginaGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcquistaGiocoServlet</display-name>
    <servlet-name>AcquistaGiocoServlet</servlet-name>
    <servlet-class>org.elis.controller.AcquistaGiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcquistaGiocoServlet</servlet-name>
    <url-pattern>/AcquistaGiocoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerPaginaAggiungiGioco</display-name>
    <servlet-name>ServletPerPaginaAggiungiGioco</servlet-name>
    <servlet-class>org.elis.controller.ServletPerPaginaAggiungiGioco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerPaginaAggiungiGioco</servlet-name>
    <url-pattern>/ServletPerPaginaAggiungiGioco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiGenereServlet</display-name>
    <servlet-name>AggiungiGenereServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiungiGenereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiGenereServlet</servlet-name>
    <url-pattern>/AggiungiGenereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerPaginaProfilo</display-name>
    <servlet-name>ServletPerPaginaProfilo</servlet-name>
    <servlet-class>org.elis.controller.ServletPerPaginaProfilo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerPaginaProfilo</servlet-name>
    <url-pattern>/ServletPerPaginaProfilo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerPaginaLibrerie</display-name>
    <servlet-name>ServletPerPaginaLibrerie</servlet-name>
    <servlet-class>org.elis.controller.ServletPerPaginaLibrerie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerPaginaLibrerie</servlet-name>
    <url-pattern>/ServletPerPaginaLibrerie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerRicercaGiochi</display-name>
    <servlet-name>ServletPerRicercaGiochi</servlet-name>
    <servlet-class>org.elis.controller.ServletPerRicercaGiochi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerRicercaGiochi</servlet-name>
    <url-pattern>/ServletPerRicercaGiochi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaGiocoDallaLibreriaServlet</display-name>
    <servlet-name>EliminaGiocoDallaLibreriaServlet</servlet-name>
    <servlet-class>org.elis.controller.EliminaGiocoDallaLibreriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaGiocoDallaLibreriaServlet</servlet-name>
    <url-pattern>/EliminaGiocoDallaLibreriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerPaginaPagamento</display-name>
    <servlet-name>ServletPerPaginaPagamento</servlet-name>
    <servlet-class>org.elis.controller.ServletPerPaginaPagamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerPaginaPagamento</servlet-name>
    <url-pattern>/ServletPerPaginaPagamento</url-pattern>
  </servlet-mapping>
</web-app>